{% extends "gym/base.html" %}
{% load staticfiles %}

{% block title %} Aulas {% endblock %}

{% block content %}

            <!-- Start Inner Banner area -->
            <div class="inner-banner-area">
                <div class="container">
                    <div class="row">
                        <div class="innter-title">
                            <h2>Nossas Aulas</h2>
                        </div>
                        <div class="breadcrum-area">
                            <ul class="breadcrumb">
                                <li><a href="/">Início</a></li>
                                <li class="active">Aulas</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Inner Banner area -->
            <!-- Start Classes page area -->
            <div class="our-classes-area padding-top">
                <div class="container">
                    <div class="row">
                        <!-- Gallery Section Area Start Here -->
                            <div class="gallery-area">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12">
                                            <div class="isotop-classes-tab">                            
                                                <a href="#" data-filter="*" class="current">All</a>
                                                <a href="#" data-filter=".building">Body Building</a>
                                                <a href="#" data-filter=".yaga">Yoga</a>
                                                <a href="#" data-filter=".karate">Karate</a>
                                                <a href="#" data-filter=".meditation">Meditation</a>
                                                <a href="#" data-filter=".running">Running</a>
                                                <a href="#" data-filter=".boxing">Boxing</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="portfolioContainer zoom-gallery">               
                                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 yaga meditation">
                                        <div class="single-classes-area">
                                            <div class="classes-img">
                                                <a href="#">
                                                    <img src="{% static "img/classes/yoga.jpg" %}" alt="yoga">
                                                </a>
                                                <div class="classes-overlay">
                                                    <a class="elv-zoom" href="{% static "img/classes/yoga.jpg" %}" title="Classic Yoga"><i class="fa fa-search" aria-hidden="true"></i></a>
                                                </div>
                                            </div>
                                            <div class="classes-title">
                                                <h3><a href="single-classes.html">Classic Yoga</a></h3>
                                                <p class="date">09.00 am - 10.00 Am</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 building karate">
                                        <div class="single-classes-area">
                                            <div class="classes-img">
                                                <a href="#">
                                                    <img src="{% static "img/classes/building.jpg" %}" alt="yoga">
                                                </a>
                                                <div class="classes-overlay">
                                                    <a class="elv-zoom" href="{% static "img/classes/yoga.jpg" %}" title="building"><i class="fa fa-search" aria-hidden="true"></i></a>
                                                </div>
                                            </div>
                                            <div class="classes-title">
                                                <h3><a href="single-classes.html">Classic Yoga</a></h3>
                                                <p class="date">10.00 am - 11.00 Am</p>
                                            </div>
                                        </div>
                                    </div> 
                                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 yaga running boxing">
                                        <div class="single-classes-area">
                                            <div class="classes-img">
                                                <a href="#">
                                                    <img src="{% static "img/classes/running.jpg" %}" alt="running">
                                                </a>
                                                <div class="classes-overlay">
                                                    <a class="elv-zoom" href="{% static "img/classes/running.jpg" %}" title="Running"><i class="fa fa-search" aria-hidden="true"></i></a>
                                                </div>
                                            </div>
                                            <div class="classes-title">
                                                <h3><a href="single-classes.html">Running</a></h3>
                                                <p class="date">04.00 pm - 10.00 pm</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 building karate">
                                        <div class="single-classes-area">
                                            <div class="classes-img">
                                                <a href="#">
                                                    <img src="{% static "img/classes/karate.jpg" %}" alt="karate">
                                                </a>
                                                <div class="classes-overlay">
                                                    <a class="elv-zoom" href="{% static "img/classes/karate.jpg" %}" title="Karate"><i class="fa fa-search" aria-hidden="true"></i></a>
                                                </div>
                                            </div>
                                            <div class="classes-title">
                                                <h3><a href="single-classes.html">Karate</a></h3>
                                                <p class="date">06.00 am - 08.00 Am</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 yaga building boxing">
                                        <div class="single-classes-area">
                                            <div class="classes-img">
                                                <a href="#">
                                                    <img src="{% static "img/classes/yoga.jpg" %}" alt="yoga">
                                                </a>
                                                <div class="classes-overlay">
                                                    <a class="elv-zoom" href="{% static "img/classes/yoga.jpg" %}" title="Classic Yoga"><i class="fa fa-search" aria-hidden="true"></i></a>
                                                </div>
                                            </div>
                                            <div class="classes-title">
                                                <h3><a href="single-classes.html">Classic Yoga</a></h3>
                                                <p class="date">09.00 am - 10.00 Am</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 building meditation">
                                        <div class="single-classes-area">
                                            <div class="classes-img">
                                                <a href="#">
                                                    <img src="{% static "img/classes/meditation.jpg" %}" alt="meditation">
                                                </a>
                                                <div class="classes-overlay">
                                                    <a class="elv-zoom" href="{% static "img/classes/meditation.jpg" %}" title="Meditation"><i class="fa fa-search" aria-hidden="true"></i></a>
                                                </div>
                                            </div>
                                            <div class="classes-title">
                                                <h3><a href="single-classes.html">Meditation</a></h3>
                                                <p class="date">09.00 am - 10.00 Am</p>
                                            </div>
                                        </div>
                                    </div> 
                                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 karate running">
                                        <div class="single-classes-area">
                                            <div class="classes-img">
                                                <a href="#">
                                                    <img src="{% static "img/classes/yoga.jpg" %}" alt="yoga">
                                                </a>
                                                <div class="classes-overlay">
                                                    <a class="elv-zoom" href="{% static "img/classes/yoga.jpg" %}" title="Classic Yoga"><i class="fa fa-search" aria-hidden="true"></i></a>
                                                </div>
                                            </div>
                                            <div class="classes-title">
                                                <h3><a href="single-classes.html">Classic Yoga</a></h3>
                                                <p class="date">09.00 am - 10.00 Am</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 meditation boxing">
                                        <div class="single-classes-area">
                                            <div class="classes-img">
                                                <a href="#">
                                                    <img src="{% static "img/classes/building.jpg" %}" alt="building">
                                                </a>
                                                <div class="classes-overlay">
                                                    <a class="elv-zoom" href="{% static "img/classes/building.jpg" %}" title="Body Building"><i class="fa fa-search" aria-hidden="true"></i></a>
                                                </div>
                                            </div>
                                            <div class="classes-title">
                                                <h3><a href="single-classes.html">Body Building</a></h3>
                                                <p class="date">10.00 am - 11.00 Am</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 running boxing">
                                        <div class="single-classes-area">
                                            <div class="classes-img">
                                                <a href="#">
                                                    <img src="{% static "img/classes/running.jpg" %}" alt="running">
                                                </a>
                                                <div class="classes-overlay">
                                                    <a class="elv-zoom" href="{% static "img/classes/running.jpg" %}" title="Running"><i class="fa fa-search" aria-hidden="true"></i></a>
                                                </div>
                                            </div>
                                            <div class="classes-title">
                                                <h3><a href="single-classes.html">Running</a></h3>
                                                <p class="date">04.00 pm - 10.00 pm</p>
                                            </div>
                                        </div>
                                    </div>                         
                                </div>
                            </div>
                        <!-- Gallery Section Area End Here -->
                    </div>
                </div>
            </div>
            <!-- End Classes page area -->
            <!-- Start Fitness class summer area -->
            <div class="fitness-summer-area padding-space">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="fitness-summer">
                                <div class="fitness-content">
                                    <h3>Fitness Classes This Summer.</h3>
                                    <p>Pay Now and<br> Get <span>35%</span> Discount</p>
                                    <a class="custom-button" data-title="Become A Member" href="#">Become A Member</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Fitness class summer area -->
            
           {% endblock %}