
{% extends "gym/base.html" %}
{% load staticfiles %}

{% block title %} Programas {% endblock %}

  {% block content %}          
            
            <!-- Start Inner Banner area -->
            <div class="inner-banner-area">
                <div class="container">
                    <div class="row">
                        <div class="innter-title">
                            <h2>Nossos Programas de Aula</h2>
                        </div>
                        <div class="breadcrum-area">
                            <ul class="breadcrumb">
                                <li><a href="/">Início</a></li>
                                <li class="active">Programas</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Inner Banner area -->
            <!-- Start class schedule area -->
            <div class="class-schedule schedule-page padding-space">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="class-schedule-wrap">
                                <!-- Tabs -->
                                <ul id="myTab" class="nav nav-tabs">
                                    <li class="active"><a href="#monday" data-toggle="tab">Segunda</a></li>
                                    <li><a href="#tuesday" data-toggle="tab">Terça</a></li>
                                    <li><a href="#wednesday" data-toggle="tab">Quarta</a></li>
                                    <li><a href="#monday" data-toggle="tab">Quinta</a></li>
                                    <li><a href="#tuesday" data-toggle="tab">Sexta</a></li>
                                    <li><a href="#wednesday" data-toggle="tab">Sábado</a></li>
                                  <!--  <li><a href="#monday" data-toggle="tab">Sunday</a></li> -->
                                </ul>
                                <div id="myTabContent" class="tab-content class-schedule-tab">
                                    <div class="tab-pane fade in active" id="monday">
                                        <ul class="odd">
                                            <li>Yoga</li>
                                            <li>10.00 am - 12.00 pm</li>
                                            <li>Robert Smith</li>
                                          <!--  <li><a href="#">Join Now!</a></li> -->
                                        </ul>
                                        <ul class="even">
                                            <li>Running</li>
                                            <li>09.00 am - 12.00 pm</li>
                                            <li>Petter john</li>
                                         <!--   <li><a href="#">Join Now!</a></li> -->
                                        </ul>
                                        <ul class="odd">
                                            <li>Gym</li>
                                            <li>10.00 am - 12.00 pm</li>
                                            <li>Kazi Fahim</li>
                                         <!--  <li><a href="#">Join Now!</a></li> -->
                                        </ul>
                                        <ul class="even">
                                            <li>Free Hand</li>
                                            <li>09.00 am - 12.00 pm</li>
                                            <li>Jessy Reo</li>
                                          <!--  <li><a href="#">Join Now!</a></li> -->
                                        </ul>
                                        <ul class="odd">
                                            <li>Weight Lifting</li>
                                            <li>10.00 am - 12.00 pm</li>
                                            <li>Zara Keron</li>
                                         <!--   <li><a href="#">Join Now!</a></li> -->
                                        </ul>
                                        <ul class="even">
                                            <li>Ftiness</li>
                                            <li>09.00 am - 12.00 pm</li>
                                            <li>Jack Sparrow</li>
                                         <!--   <li><a href="#">Join Now!</a></li> -->
                                        </ul>
                                    </div>
                                    <div class="tab-pane fade" id="tuesday">
                                        <ul class="odd">
                                            <li>Yoga</li>
                                            <li>10.00 am - 12.00 pm</li>
                                            <li>Robert Smith</li>
                                         <!--   <li><a href="#">Join Now!</a></li> -->
                                        </ul>
                                        <ul class="even">
                                            <li>Running</li>
                                            <li>09.00 am - 12.00 pm</li>
                                            <li>Petter john</li>
                                         <!--   <li><a href="#">Join Now!</a></li> -->
                                        </ul>
                                        <ul class="odd">
                                            <li>Gym</li>
                                            <li>10.00 am - 12.00 pm</li>
                                            <li>Kazi Fahim</li>
                                         <!--   <li><a href="#">Join Now!</a></li> -->
                                        </ul>
                                        <ul class="even">
                                            <li>Free Hand</li>
                                            <li>09.00 am - 12.00 pm</li>
                                            <li>Jessy Reo</li>
                                          <!--  <li><a href="#">Join Now!</a></li> -->
                                        </ul>
                                        <ul class="odd">
                                            <li>Weight Lifting</li>
                                            <li>10.00 am - 12.00 pm</li>
                                            <li>Zara Keron</li>
                                         <!--   <li><a href="#">Join Now!</a></li> -->
                                        </ul>
                                    </div>
                                    <div class="tab-pane fade" id="wednesday">
                                        <ul class="odd">
                                            <li>Yoga</li>
                                            <li>10.00 am - 12.00 pm</li>
                                            <li>Robert Smith</li>
                                          <!--  <li><a href="#">Join Now!</a></li> -->
                                        </ul>
                                        <ul class="even">
                                            <li>Running</li>
                                            <li>09.00 am - 12.00 pm</li>
                                            <li>Petter john</li>
                                           <!-- <li><a href="#">Join Now!</a></li> -->
                                        </ul>
                                        <ul class="odd">
                                            <li>Gym</li>
                                            <li>10.00 am - 12.00 pm</li>
                                            <li>Kazi Fahim</li>
                                           <!-- <li><a href="#">Join Now!</a></li> -->
                                        </ul>
                                        <ul class="even">
                                            <li>Free Hand</li>
                                            <li>09.00 am - 12.00 pm</li>
                                            <li>Jessy Reo</li>
                                          <!--  <li><a href="#">Join Now!</a></li> -->
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End class schedule area -->
            <!-- Start Fitness class summer area -->
            <div class="fitness-summer-area padding-space">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="fitness-summer">
                                <div class="fitness-content">
                                    <h3>Fitness Classes This Summer.</h3>
                                    <p>Pay Now and<br> Get <span>35%</span> Discount</p>
                                    <a class="custom-button" data-title="Become A Member" href="#">Become A Member</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Fitness class summer area -->
            
    {% endblock %}
